.canvas {
    // border: 1px solid #000;
}
.editor {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}
.toolBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 256px;
    bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, .12);
}
.canvasBox {
    position: absolute;
    left: 256px;
    top: 0;
    right: 0;
    bottom: 0;
}